#category-panel-group {
  max-width: 400px;
  margin-top: 15px;
}

#accountBalanceDiv {
  text-align:right;
}

table#transactionTable thead tr th:nth-child(6) {
  width: 15%;
}

.panel-transaction-table {
  max-height: 500px;
  overflow: auto;
}

.positiveBadge {
  color: #333;
  background-color: #ddd;
}

.negativeAmount {
  color: #a94442;
}

.negativeBadge {
  background-color: #f2dede;
}

.user-info-text {
  font-size: 15px;
}

.glyphicon-badge {
  padding: 0px;
  float:right;
}
